<div class="content">
  <div class="filters">
      <div class="card">
        <div class="content-search">
          <mat-icon matPrefix>search</mat-icon>
          <input type="search" placeholder="Search transactions by Merchant invoice, Card, ICAOm Tail # or DoDAAC">
        </div>
      </div>

      <button mat-flat-button><mat-icon>filter_list_alt</mat-icon> filters</button>

  </div>
  <span class="spacer"></span>
  <div class="actions">
    <button mat-flat-button><mat-icon>print</mat-icon> Print selected</button>
    <button mat-flat-button><mat-icon> vertical_align_bottom</mat-icon> Export selected</button>
  </div>
</div>
