.content-search {
  height: 100%;
  display: flex;
  align-items: center;
  & input{
    border: none;
    height: 100%;
    width: 320px;
    &:focus-visible {
      border: none;
      outline:none !important;
    }
  }
}
