<section class="content">
  <article class="card-summary">
    <div class="summary-title">
      <h3>Accept Transactions</h3>
      <h2>6</h2>
    </div>
    <div class="summary-info">
      <p>new <span>6</span></p>
      <p>Disputed <span>0</span></p>
    </div>
  </article>
  <article class="card-summary">
    <div class="summary-title">
      <h3>Invoice Tasks</h3>
      <h2>4</h2>
    </div>
    <div class="summary-info">
      <p>New <span>3</span></p>
      <p>Delinquent <span>1</span></p>
    </div>
    <div class="summary-info">
      <p>Disputed <span>0</span></p>
      <p>Rejected <span>0</span></p>
    </div>
  </article>
</section>
